.metadata/
*.o
*.obj
Thumbs.db
*.exe
*.bar
*.apk
*.opensdf
*.sdf
*.suo
*.vcxproj.user
TowerDefense/Device-Debug/
TowerDefense/Device-Release/
TowerDefense/windows/bin/
TowerDefense/windows/ipch/
TowerDefense/windows/obj/
freetype2/freetype2-windows/objs/
libpng/libpng-windows/projects/vstudio/Debug/
libpng/libpng-windows/projects/vstudio/libpng/Debug/
libpng/libpng-windows/projects/vstudio/pnglibconf/Release/
libpng/libpng-windows/projects/vstudio/pngtest/Debug/
libpng/libpng-windows/projects/vstudio/pngvalid/Debug/
libpng/libpng-windows/projects/vstudio/zlib/Debug/
libpng/libpng-windows/projects/vstudio/Debug Library/
libpng/libpng-windows/projects/vstudio/Release Library/
libpng/libpng-windows/projects/vstudio/Release/
libpng/libpng-windows/projects/vstudio/libpng/Debug Library/
libpng/libpng-windows/projects/vstudio/libpng/Release Library/
libpng/libpng-windows/projects/vstudio/libpng/Release/
libpng/libpng-windows/projects/vstudio/pngtest/Debug Library/
libpng/libpng-windows/projects/vstudio/pngtest/Release Library/
libpng/libpng-windows/projects/vstudio/pngtest/Release/
libpng/libpng-windows/projects/vstudio/pngvalid/Debug Library/
libpng/libpng-windows/projects/vstudio/pngvalid/Release Library/
libpng/libpng-windows/projects/vstudio/pngvalid/Release/
libpng/libpng-windows/projects/vstudio/zlib/Debug Library/
libpng/libpng-windows/projects/vstudio/zlib/Release Library/
libpng/libpng-windows/projects/vstudio/zlib/Release/
libpng/zlib-1.2.5/contrib/vstudio/vc10/x86/
