.metadata/
*.o
*.obj
Thumbs.db
*.exe
*.bar
*.apk
*.opensdf
*.sdf
*.suo
*.vcxproj.user
TowerDefense/Device-Debug/
TowerDefense/Device-Release/
TowerDefense/windows/bin/
TowerDefense/windows/ipch/
TowerDefense/windows/obj/
freetype2/freetype2-windows/objs/
libpng/libpng-windows/projects/vstudio/Debug/
libpng/libpng-windows/projects/vstudio/libpng/Debug/
libpng/libpng-windows/projects/vstudio/pnglibconf/Release/
libpng/libpng-windows/projects/vstudio/pngtest/Debug/
libpng/libpng-windows/projects/vstudio/pngvalid/Debug/
libpng/libpng-windows/projects/vstudio/zlib/Debug/
